{% include 'header.html' %}
<h1>Class Schedule</h1>
<div class="class-list">
    {% for class in classes %}
        <div class="class-card">
            <img src="{{ url_for('static', filename='images/' ~ class.image) }}" alt="{{ class.name }}" class="class-image">
            <h2>{{ class.name }}</h2>
            <p><strong>Instructor:</strong> {{ class.instructor }}</p>
            {% for day, time in class.schedule %}
                <p><strong>{{ day }}:</strong> {{ time }}</p>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% include 'footer.html' %}








