<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('class_schedule') }}">Class Schedule</a></li>
            <li><a href="{{ url_for('booking') }}">Booking</a></li>
            <li><a href="{{ url_for('trainers_view') }}">Trainer Profiles</a></li>
            <li><a href="{{ url_for('user') }}">User Account</a></li>
        </ul>
    </nav>

